
.main{
  margin: auto;
  width: 400px;
  border: 2px dotted;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(206, 240, 220);
  box-shadow: 4px 4px 20px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list{
  width: 300px;
  display: flex;
  flex-direction: column;
  
  margin-top: 10px;
  font-weight: bold;
}
.inner{
  display: flex;  
  justify-content: space-between;
}
form{
  width:300px;
  display: flex;
  justify-content: space-between;
}
form button{
  width:100px;
  background-color: rgb(47, 15, 227);
  border: none;
  color:white
}
#save{
  background-color: black;
  color:white;
  border: none;
  border-radius: 4px;
}
button{
  padding: 4px 6px;
}